/* ================================= 
  WEB FONTS
==================================== */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);


:root {
  --dark-green:#384D48;
  --sage-green: #ACAD94;
  --dim-grey: #6E7271;
  --dust-grey: #D8D4D5;
  --light-grey: #D8D4D5;
  --grey-white: #f4eff0;
  --white: #ffff;
}

/* ================================= 
  ELEMENT STYLES
==================================== */

* {
  box-sizing: border-box;
}
body {
  color: var(--dark-green);
  background: var(--sage-green);
  margin: 0;
  font-family: "Monaco", Monospace;
}
h1,
h2,
ul {
  margin: 0;
  padding: 0;
}
h2 {
  color: var(--dark-green);
  font-size: 1.6em;
}
hr {
  border: 0;
  height: 0;
  margin: 2.3em 0 2em 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.social-icons {
  width: 20px;
}

.profile-photo {
  width: 120px;
}

.social-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: center;
  height: 50px;
}

.username-header {
  display: flex;
  justify-content: center;
  text-align: center;
}

.subtitle {
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--dark-green);
  font-size: 14px;
}

/* FORM & BUTTON STYLES -------- */

.home a,
input,
button {
  padding: .5em;
  font-size: .9em;
  margin-right: 10px;
  border: none;
  border-radius: 12px;
  outline: none;
}
button {
  color: var(--dark-green);
  background: var(--white);
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  font-family: "Monaco", Monospace;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

/* ================================= 
  LAYOUT & PAGE STYLES
==================================== */

.container {
  width: 95%;
  max-width: 480px;
  padding-bottom: 2em;
  margin: 0 auto 2em;
  background: var(--grey-white);
  border-radius: 2em;
  box-shadow: 0 3px rgba(0,0,0, .1);
  overflow: hidden;
}
header {
  background: #edeff0;
  margin-bottom: 2em;
}
.main-content {
  padding: 1em 2em;
  padding-top: 70px;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.course {
  margin-bottom: 1em;
}


/* ICONS -------- */

.icn-logo {
  background: #54606b;
  color: #fff;
}
.icn-logo i {
  font-size: 2.45em;
  line-height: 0;
  margin-top: 30px;
}
.icn-error {
  font-size: 3.2em;
  margin-bottom: .25em;
}

/* ================================= 
  MEDIA QUERIES
==================================== */

@media (min-width: 0) and (max-width: 768px) { 
  body {
    padding-top: .8em;
  }
  .home a {
    border-color: transparent;
  }
   .icn-logo {
     display: block;
     width: 100%;
     text-align: center;
     padding-bottom: 4px;
   }
   .main-nav a {
     border-top: 2px solid transparent;
     border-bottom: 2px solid transparent;
   }
   .main-nav a:hover {
     border-color: rgba(0,0,0, .1);
   }
   .courses h2 {
     margin-bottom: 0;
   }
   .course-nav {
     display: block;
     margin: 1.5em 0 3.2em;
   }
   .home a,
   input,
   button {
     display: block;
     width: 100%;
     margin-bottom: 1em;
   }
}
@media (min-width: 769px) {
  body {
    padding-top: 3em;
  }
  .home a {
    border-color: #3b80d1;
  }
  .media img,
  .media > div,
  .teacher {
    float: left;
  }
  .media > div {
    width: 85.1%;
    margin-left: 1.5em;
  } 
  .teacher {
    width: 48.73%;
    margin-bottom: 1.5em;
  }
  .teacher + .teacher {
    margin-left: 2.54%;
  }
  .teacher:nth-child(2n+3) {
    clear: left;
    margin-left: 0;
  }
  /* MAIN NAV -------- */
  .icn-logo {
    margin-right: auto;
    padding: 0 2em;
  }
  header,
  .main-nav {
    display: flex;
    flex-wrap: wrap;
  }
  .main-nav a {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    padding: 1.25em 1.5em;
  }
  .main-nav a:hover {
    border-color: rgba(0,0,0, .1);
  }
  /* COURSE NAV -------- */
  .course-nav {
    float: right;
  } 
  .courses h2 {
    float: left;
  }
}